@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px;
  margin: 0px;
  /* width: 100%;
  right: 100%; */
}
:root{
  --fonte1: 'Passion one', cursive;
  --fonte2: 'Sriracha', cursive;
  --cor1: black;
  --cor2: white;
  --cor3: #AD8317;
  --cor4: gray;
  --cor5: ;
}
.logo{
    width: 20%;
    right: 10%;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.topo{
    display: flex;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px;
}
.links{
    display: flex;
    list-style-type: none; 
    font-size: 15px;
}
a{
    cursor: pointer;
    margin-left: 15%;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
}
/* formatando titulo da pagina */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1%;
    font-size: 25px;
  }
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #000;
  }
  .separator::before {
    margin-right: .25em;
  }
  .separator::after {
    margin-left: .25em;
  }



