@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

body{
    /* width: 100%;
    right: 100%; */
}
.logo{
    width: 20%;
    right: 10%;
    margin-left: 13%;
}
.topo{
    display: flex;
    /* justify-content: space-between; */
}
.links{
    display: flex;
    list-style-type: none; 
    font-size: 15px;
}
a{
    cursor: pointer;
    margin-left: 15%;
    padding: 10px;
    text-align: center;

}
a:hover{
    background-color: silver;
    border-radius: 30px;
    
}